/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/
body{
  text-decoration: none;
  background-color:#eee;
  color:#111;
  max-width:800px;
  margin:auto;
  font-family:sans-serif;
  font-weight:600;
}

a{
  text-decoration:none;
  color:#111;
}

p{
  line-height: 1.6;
}

article+article{
  margin-top: 2rem;
  border-top: 1px solid #242e35;
}
